---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Error">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl text-center">Esta página no se encuentra disponible</h1>
        <img src="/404.jpg">
    </div>
    
</Layout>